<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">  
<% if @header==nil %>
<% @header='SearchImg' %>
<% end %>
  <title><%= @header %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "autocomplete-rails.js", "highcharts" %>
  <%= csrf_meta_tags %>
 <style><%= yield :stylesheets %></style>
</head>
<body>

<div id="user_nav">  
  <% if current_personnel %>
  	
	
	<div class = "navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><%= current_personnel.name %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <h5><%= link_to 'Onboard', {controller: 'windows', action: 'index'}, { :class=>"nav-link"} %></h5>
      </li>
      <li class="nav-item">
      <li class="nav-item active">
        <h5><%= link_to 'Home', {controller: 'windows', action: 'index'}, { :class=>"nav-link"} %></h5>
      </li>
      <li class="nav-item">
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <%= link_to "LogOut", log_out_path, { :class=>"nav-link" } %>
        </li>
      </ul>
  </div>

  
  <% else %>
  <%=notice %>
 
  
  <%end %>

</div>

<div id="content"><%= content_for?(:content) ? yield(:content) : yield %></div>
</body>
</html>
